
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Playfair+Display:ital,wght@0,400;1,600&family=Roboto:ital,wght@1,100&display=swap');


body{
    background-color: black;
    color:white;
}

nav ul{
    display: flex;
    justify-content:right ;
    list-style-type: none;
    gap: 30px;
    margin: 0 5px;
    padding-top: 40px;
}

.image-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
 
}
.home{
  padding-left: 2ren;
}
.ai{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-bottom: 180px;
}
.main{
    padding-right: 55em;
    text-shadow: 0 0 3px #bb1111, 0 0 5px #0000ff;
    font-weight: bold;
}
.color{
  
  position: absolute;
  bottom: 380px;
  left: 116px;
  font-family: 'Playfair Display', serif;
  color: rgb(118, 80, 134);
  text-shadow: 2px 2px 4px #332571;
  
  
}
.color.text{
  position: absolute;
  color: #402697;
  font-size: 30px;
  font-weight: 600;
  
}
.color.text.first-text{
  
  color: #e9e9f3;

}
.text.sec-text:before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
 
}

.side{
  font-size: 20px;
  padding-top: 60px;
  padding-right: 40px;
  padding-bottom: 240px;
}
.mango{
  display: flex;
  padding: 0px 20px  0px 20px  ;
  gap: 40px;
}
.nav{
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
.skills{
  background-color:  #d4bebe;
  border-radius: 20px;
  padding: 50px 150px 5px 150px;
  box-shadow: 0px 0px 10px rgb(239, 238, 244);
  text-align: center;
}
.skil{
padding: 0% 30% 0% 30%;

}
.tools{
  background-color: #d4bebe;
  border-radius: 20px;
  padding: 50px 180px 50px 180px;
  text-align: center;
  box-shadow: 0px 0px 10px rgb(239, 238, 244);

}
.library{
  background-color: #d4bebe;
  border-radius: 30px;
  padding: 50px 100px 5px 100px;
  margin: 40px 500px 40px 500px;
  box-shadow: 0px 0px 10px rgb(239, 238, 244);

text-align: center;

}
.firstproj{
  background-color: #b3a4a4;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(87, 80, 144, 0.2);
text-align: center;
}
.welcome{
  position: absolute;
  bottom: 380px;
  left: 116px;
}
.skills1{
  display: flex;
  justify-content: center;
  gap: 80px;
}
.abtme{
  position: relative;
  font-size: 1.5vw;
  color: #06062c00;
  -webkit-text-stroke: 0.3vw #ede1e1;
  text-transform: uppercase;
}


